<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdon.framework.test.user">
  <select id="selectuseridbyid" resultType="String">
    select userId from testuser where userId = #{id}
  </select>
  
  <select id="selectuserid" resultType="String">
    select userId from testuser
  </select>
  
</mapper>
